.header {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
.header i {
  font-style: normal;
}
.header .row > div:nth-of-type(-n+3) {
  border-right: 1px solid #cccccc;
}
.header .row > .col-md-2 a {
  position: relative;
  display: inline-block;
  height: 100%;
}
.header .row > .col-md-2 a:hover img {
  display: block;
  top: 49px;
  border: 1px solid #cccccc;
  border-top: none;
}
.header .row > .col-md-2 img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  z-index: 99;
}
.header .row > .col-md-3 .btn-danger {
  background-color: #e92322;
  border: none;
}
.header .row > .col-md-3 .btn {
  padding: 4px 15px;
}
.header .row > .col-md-3 .btn-link {
  text-decoration: none;
  color: #333;
}
.nav {
  text-align: center;
}
.nav .wjs_nav {
  /*�޸ĵ��������ʽ*/
}
.nav .wjs_nav.navbar {
  margin-bottom: 0;
}
.nav .wjs_nav .navbar-brand {
  height: 80px;
  line-height: 50px;
}
.nav .wjs_nav .navbar-brand > .wjs_icon {
  font-size: 40px;
}
.nav .wjs_nav .navbar-brand > span:first-of-type {
  color: #e92322;
}
.nav .wjs_nav .navbar-brand > span:last-of-type {
  color: #333;
}
.nav .wjs_nav .navbar-nav > li > a {
  line-height: 50px;
  font-size: 16px;
}
.nav .wjs_nav .navbar-nav > li > a:hover,
.nav .wjs_nav .navbar-nav > li a:focus {
  color: #777;
  border-bottom: 3px solid #e92322;
}
.nav .wjs_nav .navbar-nav .active > a,
.nav .wjs_nav .navbar-nav .active a:hover,
.nav .wjs_nav .navbar-nav .active a:focus {
  background-color: transparent;
  border-bottom: 3px solid #e92322;
}
.nav .wjs_nav .navbar-toggle {
  margin-top: 23px;
}
.banner .carousel-inner {
  overflow: hidden;
}
.banner .carousel-inner > div {
  overflow: hidden;
}
.banner .carousel-inner > div .hidden-xs {
  display: block;
  height: 410px;
  width: 100%;
  -webkit-background-size: cover;
  background-size: cover;
}
.banner .carousel-inner > div .hidden-sm {
  width: 100%;
  display: block;
}
.banner .carousel-inner > div .hidden-sm img {
  width: 100%;
}
.message {
  padding: 40px;
  border: 1px solid #cccccc;
}
.message .media {
  display: block;
}
.message .media:hover {
  color: #e92322;
}
.message .media:first-child {
  margin-top: 15px;
}
.message .media > span {
  font-size: 30px;
}
.reserve {
  line-height: 50px;
  border-bottom: 1px solid #cccccc;
}
.reserve a:hover {
  color: #e92322;
}
.reserve .wjs_icon {
  font-size: 18px;
}
.reserve .col-sm-9 a:nth-of-type(2) {
  color: #e92322;
  border-bottom: 1px dashed #e92322;
}
.product {
  overflow: hidden;
  background-color: #dddddd;
}
.product .container {
  margin-bottom: 20px;
}
.product .nav-tabs {
  border-bottom: 1px solid #cccccc;
}
.product .nav-tabs > li {
  margin-top: 20px;
  padding: 0 10px;
  margin-bottom: 0;
}
.product .nav-tabs > li.active a {
  background-color: #dddddd;
  border-bottom: 3px solid #e92322;
}
.product .nav-tabs > li > a,
.product .nav-tabs > li a:hover,
.product .nav-tabs > li a:focus {
  border: none;
  border-radius: 0;
}
.product .nav-tabs > li a {
  box-sizing: border-box;
  padding: 25px 15px;
}
.product .nav-tabs > li a:hover {
  background-color: #dddddd;
  border-bottom: 3px solid #e92322;
}
.product .nav-tabs > li a:focus {
  border-bottom: 3px solid #e92322;
}
.product .tab-content {
  position: relative;
}
.product .tab-content .tab-pane > .container > .row > div {
  margin-top: 20px;
}
.product .product-box {
  background-color: #fff;
  overflow: hidden;
}
.product .product-box.active {
  background-color: #e92322;
  color: #fff;
}
.product .product-box.active::before {
  content: "\e915";
  font-family: "wjs";
  position: absolute;
  left: 15px;
  top: -5px;
  font-size: 25px;
}
.product .product-box.active .product-box-right > b,
.product .product-box.active sub {
  color: #fff;
}
.product .product-box-left {
  margin-right: 100px;
  margin-top: 10px;
}
.product .product-box-left > p {
  text-align: center;
  font-size: 16px;
}
.product .product-box-left .row div {
  padding-left: 20px;
  font-size: 12px;
}
.product .product-box-left .row div:nth-child(2n) {
  text-align: right;
  padding-right: 20px;
}
.product .product-box-right {
  text-align: center;
  position: absolute;
  width: 100px;
  top: 0;
  right: 15px;
  height: 100%;
  border-left: 1px dashed #ccc;
  padding-top: 30px;
}
.product .product-box-right > b {
  font-size: 40px;
}
.product .product-box-right > b,
.product .product-box-right sub {
  color: #e92322;
}
.product .product-box-right .tip {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
}
.product .product-box-right .tip > span {
  cursor: pointer;
}
.product .product-box-right .tip > span:first-of-type {
  color: red;
  border: 1px solid red;
}
.product .product-box-right .tip > span:last-of-type {
  color: blue;
  border: 1px solid blue;
}
.product .product-box-right::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #dddddd;
  position: absolute;
  top: -5px;
  left: -5px;
  box-shadow: 0 -1px -1px #cccccc inset;
}
.product .product-box-right::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #dddddd;
  position: absolute;
  bottom: -5px;
  left: -5px;
  box-shadow: 0 1px 1px #ccc inset;
}
